[Unit]
Description=

[Service]
WorkingDirectory=TMPDIR
ExecStart=TMPDIR/main
KillMode=process
Restart=on-failure
Type=notify

[Install]
WantedBy=multi-user.target