{
  "title": "{{ course.description }}",
  "description": "{{ course.description }}",
  "time": "{{ course.time }}",
  "details": {
    "steps": [
{% for item in course.steps %}
{% if not loop.first %}      ,
{% endif %}
      {
        "title": "{{ item.title }}",
        "text": "step{{ loop.index0 }}.md",
        "verify": "step{{ loop.index0 }}-verify.sh",
        "courseData": "step{{ loop.index0 }}-courseData.sh",
        "code": "step{{ loop.index0 }}-foreground.sh"
       }
{% endfor %}
    ],
    "intro": {
      "text": "intro.md",
      "courseData": "runPrep.sh"
    },
    "finish": {
      "text": "finish.md"
    }
  },
"environment": {
    "hideintro": "{{ course.environment.hideintro }}",
    "showdashboards": "{{ course.environment.showdashboards }}",
    "uilayout": "{{ course.environment.uilayout }}",
    "dashboards": [
{% for item in course.environment.dashboards %}
{% if not loop.first %}      ,
{% endif %}
      {"name": "{{ item.name }}", "href": "https://[[HOST_SUBDOMAIN]]-{{ item.port }}-[[KATACODA_HOST]].environments.katacoda.com"}
{% endfor %}
    ]
  },
  "backend": {
    "imageid": "{{ course.environment.imageid }}"
  }
}





