{ 
  "title": "{{ module.title }}",
  "description": "{{ module.description }}",
  "courses": [
{% for item in module.courses %}
{% if not loop.first %}   ,
{% endif %}
   {
      "course_id": "{{ item.course_id }}",
      "title": "{{ item.title | default('') }}",
      "description": "{{ item.description | default('')}}"
   }
{% endfor %}
  ]
}

